<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-zinc-900">
    <div class="main p-10">
      <form class="flex flex-col" action="/create" method="post">
        <input
          class="outline-none bg-zinc-800 rounded inline-block mb-5 p-5"
          type="text"
          placeholder="Title Please"
          name="title"
        />
        <textarea
          class="outline-none bg-zinc-800 rounded resize-none p-5"
          placeholder="Details..."
          name="details"
        ></textarea>
        <input
          class="bg-blue-500 px-4 py-2 mt-5 rounded cursor-pointer w-30"
          type="submit"
          value="Add Task"
        />
      </form>

      <div class="tasks mt-10 flex gap-4 flex-wrap">
        <% if(files.length> 0){ %> <% files.forEach(file=> { %>
        <div class="task bg-zinc-800 p-5 rounded-md w-80">
          <h1 class="text-3xl"><%= file.replace('.txt', '') %></h1>
          <div class="flex justify-between align-center mt-5">
            <a class="text-blue-500 inline-block" href="/files/<%= file %>"
              >Read More...</a
            >
            <div class="flex gap-5">
              <a href="/edit/<%= file %>" class="text-green-500 inline-block"><span class="material-symbols-outlined">edit</span></a>
            <a href="/delete/<%= file %>"
              ><span class="material-symbols-outlined"> delete </span></a
            >
            </div>
          </div>
        </div>

        <%})%> <% } else{ %>
        <h1 class="text-zinc-500">No Task Here</h1>
        <% } %>
      </div>
    </div>
  </body>
</html>
